{{>layout/header}}
		<h1>스프링 부트로 시작하는 웹 서비스</h1>
<!--1. 머스테치는 if을 제공하지 않음
  ture/false여부만 판단
  그래서 머스테치에서는 항상 최종값을 넘겨줘야함
  userName이 있으면 userName을 노출시키도록 구성
 -->
<!--2. href="/logout"
  스프링 시큐리어티에서 기본걱으로 제공하는 로그아웃 URL
  그래서 개발자가 별도로 저 URL에 해당하는 컨트롤러를 만들 필요없가 없습니다.
  SecurityConfig 클래스에서 URL을 변경할 순 있지만 기본 URL를 사욯해도 충분함
   -->
<!-- 머스테치에서 해당 값이 존재하지 않을 경우 ^를 사용 -->
<!-- /oauth2/authorization/google
  스프링 시큐리티에서 기본적으로 제공하는 로그인 URL
  로그아웃 URL과 마찬가지로 개발자가 별도의 컨트롤러를 생성할 필요가 없음
 -->
		<div class="col-md-12">
			<!-- 로그인 기능 영역 -->
				<div class="col-md-6">
					<a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
					{{#uName}}
						Logged in as: <span id="user">{{uName}}</span>
						<a href="/logout" class="btn btn-info active" role="button">Logout</a>
					{{/uName}}
					{{^uName}}
						<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
						<a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
					{{/uName}}
				</div>
			</div>
			<br>
			<!-- 목록 출력 영역 -->
			<table class="table table-horizontal table-bordered">
				<thead class="thead-strong">
				<tr>
					<th>게시글번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>최종수정일</th>
				</tr>
				</thead>
				<tbody id="tbody">
<!--				#posts}}는 for라고 생각하면 됨-->
				{{#posts}}
					<tr>
						<td>{{id}}</td>
						<td><a href="/posts/update/{{id}}">{{title}}</a></td>
						<td>{{author}}</td>
						<td>{{modifiedDate}}</td>
					</tr>
					{{/posts}}
				</tbody>
			</table>
		</div>
{{>layout/footer}}
